.edit{
    position: relative;
    right: 20px;
    top: 10px;
}

.destroy{
    position: relative;
    left: 40px;
    top: -15px;
}

.accessBox{
    position: relative;
    left: 800px;
    top: -525px;

}