.thumbnail {
    padding:0px;
}
.card {
    position:relative;
}
.card>.card-header:after,.card>.card-header:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width: 10px;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.card>.card-header:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.card>.card-header:before{
    border-right-color:#ddd;
    border-width:8px;
}
.col-sm-10{
    left: 300px;
}

.col-sm-5{
    width: 500px;

}
.editComment{
    position: absolute;
    align-items: center;
    right: 60px;
    top: 9px;
}

.destroyComment{
    position: relative;
    align-items: center;
    right: -5px;
    top: 3px;
}