.col-md-10{
    left: 200px;
    max-width: 1000px;
    margin:10px auto;
    -moz-border-radius-topleft: 10px 40px;
}

.panel{
    word-break: break-all;
}

.edit{
    position: absolute;
    align-items: center;
    right: 80px;
}

.destroy{
    position: relative;
    align-items: center;
    right: 10px;
    top: 4px;
}

.title{
    position: relative;
    align-items: center;
    right: 4px;
}