

    .col-md-10{
        left: 210px;
        max-width: 1000px;
        margin:10px auto;
        -moz-border-radius-topleft: 10px 40px;
    }

    .card{
        word-break: break-all;
    }

    .edit{
        position: absolute;
        align-items: center;
        right: 65px;
    }

    .destroy{
        position: relative;
        align-items: center;
        right: 0px;
        top: 4px;
    }

    .title{
        position: relative;
        align-items: center;
        right: 5px;
        top: -2px;
    }

    .col-md-2{
        position: absolute;
        left: 200px;
        width: 350px;
    }

    .stylish-input-group .input-group-addon{
        background: white !important;
    }
    .stylish-input-group .form-control{
        border-right:0;
        box-shadow:0 0 0;
        border-color:#ccc;
    }

    .filter{
        position: relative;
        left: 500px;
        top: 36px;
    }
